.pSign {
    padding-top: 3px;
    cursor: pointer;
}
.downCaret {
    padding: 2px 6px 0 6px;
}

body{
    width: 100%;
    height: 100%;
    margin: 0 0 20px 0;
    overflow: hidden scroll;
}
button {
border: none;
background-color: inherit;
cursor: pointer;
}
body.dark {
    background-color: #333;
}
body.light {
    background-color: white;
}

nav.topNav {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
nav.topNav.dark{
    background-color: white;
}
nav.topNav.light{
    background-color: #333;
}
.logoBox {
    height: inherit;
    display: flex;
    margin: 1px 1px 0 1px;
}
.logoBox>a {
    height: inherit;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0px 5px 0px 5px;
    text-align: center;
}
div.logoBox {
    border: 3px solid white;
    border-radius: 6px;
    height: 42px;
}

a.logo {
    color: white;
    text-decoration: none;
}
div.buttons {
    display: inline-flex;
    flex-direction: row;
}
button.redo {
    width: 20px;
    height: 20px;
    padding: 0 1px 1px 1px;
}
button.sunBttn {
    
    width: 20px;
    height: 20px;
    padding: 0;
}
button.moonBttn {
    width: 20px;
    height: 20px;
    padding: 0;
    margin-right: 30px;
}


.navLinx {
    height: inherit;
    display: flex;
    margin: 1px 0 0 0;
}
.navLinx>a {
    height: inherit;
    display: flex;
    align-items: center;
    padding: 0px 5px 0px 5px;
    color: white;
    text-decoration: none;
    border-left: solid 3px white;
    border-top: solid 3px white;
    border-start-end-radius: 6px;
    border-start-start-radius: 6px;
}


.manipContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 20px;
    justify-content: center;
    margin: 30px 0 0 0;
}
.manipBar {
    width: 85%;
    height: inherit;
    border: 3px solid #333;
    border-radius: 50px;
    display: inline-flex;
    justify-content: space-between;
}
.manipBar>p {
    margin: 0;
}
input {
    border: none;
    z-index: 0;
    margin-left: 20px;
}
.pxMenuContainer {
    display: inline-block;
    margin: 0;
    padding: 0;
}
.pxMenu {
    position: absolute;
    display: inline-flex;
    border: 1px solid #333;
    height: 20px;
    padding: 0;
    margin: 0;
    width: 55px;
    line-height: 16px;
}
p.currentPx {
    margin: 0;
    padding-left: 3px;
}
#pxOptContainer {
    border: 1px solid #333;
    width: 74px;
    height: 100px;
    position: absolute;
    display: none;
    top: 85px;
    flex-direction: column;
    overflow: hidden scroll;
    margin-left: -1px;
    justify-content: space-between;
}
.pxOpt {
    display: flex;
    flex-direction: row;
    min-height: 20px;
    width: 100%;
}
.pxP {
    width: 55px;
    height: 100%;
    float: left;
    border: 1px solid #333;
    background-color: white;
    padding: 0;
    text-align: center;
    line-height: 20px;
    margin: auto;
    margin-right: 3;
    margin-left: -2px;
    cursor: pointer;
}

.pxP.color {
    background-color: grey;
}

button.list {
    padding: 0;
    margin: 0;
    
    height: 25px;
    border: none;
    background-color: inherit;
    padding-bottom: 3px;
}

.buttons {
    margin: 2px 3px 0 3px;
}

button.redo {
    border: none;
    background-color: inherit;
    display: block;

}

.pageContainer {
    margin: 20px auto;
    height: 80%;
    width: 90%;
    overflow: visible;
    padding: 0;
    background-color: #333;
}
.mainGrid {
    padding: 5% 0 5% 0;
    margin: 5% auto;
    width: inherit;
    height: inherit;
    display: grid;
    column-gap: 1rem;
}
.mgList {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}


.tile {
    background-color: white;
    margin: 0 auto 10vh auto;
    height: 300px;
    overflow: hidden;
    display: block;
}

.tileRow1 {
    margin: 0;
    width: 100%;
    height: 20px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #333;
}
.tileRow2 {
    margin: 0 !important; 
    width: 100%;
    height: 20px;
    background-color: white;
    margin-top: 20px;
    border-bottom: 1px solid #333;
}
.tileP {
    margin: 0;
}

p.fonText {
    word-wrap: break-word;
    margin: 5px;
}
p.fonText.ft1 {
    font-family: 'Roboto', sans-serif;
}
p.fonText.ft2 {
    font-family: 'Jomolhari', serif;
}
p.fonText.ft3 {
    font-family: 'Liu Jian Mao Cao', cursive;
}
p.fonText.ft4 {
    font-family: 'Open Sans', sans-serif;
}
p.fonText.ft5 {
    font-family: 'Lato', sans-serif;
}
p.fonText.ft6 {   
    font-family: 'Lobster', cursive;
}
p.fonText.ft7 {
    font-family: 'Anton', sans-serif;
}
p.fonText.ft8 {
    font-family: 'Big Shoulders Text', cursive;
}


.footer {
    width: 100%;
    height: 30px;
    background-color: white;
    border-top: 3px solid #333;
    border-bottom: 3px solid #333;
    bottom: 0;
    position: fixed;
}

@media only screen and (max-width: 790px) {
    button.list {
        display: none;
    }
    ol.mainGrid.mgList {
        display: block !important;
    }
    button.light {
        display: none;
    }
    button.dark {
        display: none;
    }
    li.tile {
        margin: 0 auto 5% auto;
    }
}

@media only screen and (max-width: 555px) {
button.redo {
    position: absolute;
    right: 100px;
}
input {
    left: 75px;
    position: absolute;
    margin: 0;
}
input.searchFonts {
    top: 111px;

}
div.pxMenuContainer {
    position: absolute;
    top: 111px;
    right: 136px;
}
div#pxOptContainer {
    top: 23px !important;
}
.manipContainer {
    height: 50px;
}
}