#svgInternalID.toggleSVG {
    fill: yellowgreen;
}

.pSign {
    padding-top: 3px;
    cursor: pointer;
}
i.fas.fa-caret-down {
    padding: 2px 6px 0 6px;
    color: WHITE;
}
i.fas.fa-caret-down.dark {
    color: #333;

}
body{
    background-color: #333;
    width: 100%;
    height: 100%;
    margin: 0 0 20px 0;
    overflow: hidden scroll;
}
button {
border: none;
background-color: inherit;
cursor: pointer;
}
body.dark {
    background-color: white;
}

nav.topNav {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
}
nav.topNav.dark{
    background-color: #333;
}
.logoBox {
    height: inherit;
    display: flex;
    margin: 1px 1px 0 1px;
}
.logoBox>a {
    height: inherit;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0px 5px 0px 5px;
    text-align: center;
}
div.logoBox {
    border: 3px solid #333;
    border-radius: 6px;
    height: 42px;
}
div.logoBox.dark {
    border: 3px solid white;
}
a.logo {
    color: #333;
    text-decoration: none;
}
a.logo.dark {
    color: white;
    text-decoration: none;
}
div.buttons {
    display: inline-flex;
    flex-direction: row;
}
button.redo {
    width: 20px;
    height: 20px;
    padding: 0 1px 1px 1px;
}
button.sunBttn {
    width: 20px;
    height: 20px;
    padding: 0;
    position: absolute;
    right: 39%;
    top: 1px;
    display: inline-flex;
}
button.sunBttn.hide {
    display: none;

}
i.fa-moon, i.fa-sun{
    position: absolute;
    top: 92px;
    color: white;
}
i.fa-moon.dark, i.fa-sun.dark{
    color: #333;
}
button.sunBttn.dark {
    color: #333;
}
button.moonBttn {
    width: 20px;
    height: 20px;
    padding: 0;
    position: absolute;
    top: 0;
    right: 39%;
    display: none;
}
button.moonBttn.show {
    display: inline-flex;
}
svg#testing123 {
    fill: purple;
}

.navLinx {
    height: inherit;
    display: flex;
    margin: 1px 0 0 0;
}
.navLinx>a {
    height: inherit;
    display: flex;
    align-items: center;
    padding: 0px 5px 0px 5px;
    color: #333;
    text-decoration: none;
    border-left: solid 3px #333;
    border-top: solid 3px #333;
    border-start-end-radius: 6px;
    border-start-start-radius: 6px;
}
.navLinx>a.dark {
    color: white;
    border-left: solid 3px white;
    border-top: solid 3px white;
}

.manipContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 33px;
    justify-content: center;
    margin: 30px 0 0 0;
}
.manipBar {
    width: 85%;
    height: inherit;
    border: 3px solid white;
    border-radius: 50px;
    display: inline-flex;
    justify-content: space-between;
}
.manipBar.dark {
    border: 3px solid #333;
}
.manipBar>p {
    margin: 0;
}
input {
    border: none;
    z-index: 0;
    margin-left: 0px;
    background-color: #333;
    color: white;
    margin-top: 0px;
    text-align: center;
    margin-left: 10px;
    display: inline-flex;
    position: block;
}
input.dark {
    background-color: white;
    color: #333;
    border-left: 3px solid white;
    border-right: 3px solid white;
}
input.searchFonts{
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    width: 20vw;
    height: 30px;
}
input.iTrigger {
    border-left: 3px solid white;
    border-right: 3px solid white;
    width: 20vw;
    height: 30px;
}
input.iTrigger.dark {
    border-left: 3px solid #333;
    border-right: 3px solid #333;
}
/* input.dark  {
    background-color: white;
    color: white;
    border-left: 3px solid white;
    border-right: 3px solid #white;
} */
.pxMenuContainer {
    display: block;
    /* margin-left: -100px; */
    padding: 0;
    z-index: 0;
    position: absolute;
    right: 11%;
}
.pxMenu {
    position: static;
    display: inline-flex;
    border: 1px solid white;
    height: 33px;
    padding: 0;
    margin: 0;
    width: 66px;
    line-height: 30px;
    text-align: center;
    border-left: 3px solid white;
    border-right: 3px solid white;
}
.pxMenu.dark {
    border-top: 0;
    border-left: 3px solid #333;
    border-right: 3px solid #333;
}   
p.currentPx {
    margin: 0 auto;
    padding-left: 3px;
    color: white;
}
p.currentPx.dark {
    color: #333;
}
#pxOptContainer {
    border: 1px solid white;
    width: 66px;
    height: 100px;
    position: absolute;
    display: none;
    top: 35px;
    left: 3px;
    flex-direction: column;
    overflow: hidden scroll;
    /* margin-left: -1px; */
    justify-content: space-between;
}
/* #pxOptContainer.dark {
} */
.pxOpt {
    display: flex;
    flex-direction: row;
    min-height: 20px;
    width: 66px;
}
.pxP {
    width: 60px;
    height: 100%;
    float: left;
    border: 1px solid #333;
    background-color: white;
    padding: 0;
    text-align: center;
    line-height: 20px;
    margin: auto;
    margin-right: 3;
    margin-left: -2px;
    cursor: pointer;
}

.pxP.color {
    background-color: grey;
}
/* .mButtons {
    display: inline-flex;
    justify-content: space-between;
    width: 200px;
    height: 20px;
} */

button#list {
    padding: 0;
    margin: 0;
    height: 25px;
    border: none;
    background-color: inherit;
    padding-bottom: 3px;
    position: absolute;
    top: 89px;
    right: 27%;
}
i.fa-th-list {
    color: white;
}
i.fa-th-list.dark {
    color: #333;
}

i.fa-redo-alt {
    position: absolute;
    top: 92px;
    margin-left: -11px;
    display: inline-flex;
    color: white;
}
i.fa-redo-alt.dark {
    color: #333;
}

.ldButtons {
    display: inline-flex;
}

button.redo {
    border: none;
    background-color: inherit;
    display: block;

}

.pageContainer {
    margin: 20px auto;
    height: 80%;
    width: 90%;
    overflow: visible;
    padding: 0;
    background-color: white;
}
.pageContainer.dark {
    background-color: #333;

}
.mainGrid {
    padding: 5% 0 5% 0;
    margin: 5% auto;
    width: inherit;
    height: inherit;
    display: grid;
    column-gap: 5%;
    row-gap: 5vw;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.tile {
    background-color: #333;
    margin: 0 auto 0 auto;
    height: 300px;
    overflow: hidden;
    display: block;
}
.tile.dark {
    background-color: white;
}
p.p{
    color: white;
}
p.p.dark {
    color: #333;
}
.tileRow1, .tileRow2 {
    border-bottom: 1px solid white;
}
.tileRow1.dark, .tileRow2.dark {
    border-bottom: 1px solid #333;
}
.tileRow1 {
    margin: 0;
    width: 100%;
    height: 20px;
    background-color: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tileRow2 {
    margin: 0 !important; 
    width: 100%;
    height: 20px;
    background-color: inherit;
    margin-top: 20px;
}
.tileP {
    margin: 0;
}

p.fonText {
    word-wrap: break-word;
    margin: 5px;
}
p.fonText.ft1 {
    font-family: 'Roboto', sans-serif;
}
p.fonText.ft2 {
    font-family: 'Jomolhari', serif;
}
p.fonText.ft3 {
    font-family: 'Liu Jian Mao Cao', cursive;
}
p.fonText.ft4 {
    font-family: 'Open Sans', sans-serif;
}
p.fonText.ft5 {
    font-family: 'Lato', sans-serif;
}
p.fonText.ft6 {   
    font-family: 'Lobster', cursive;
}
p.fonText.ft7 {
    font-family: 'Anton', sans-serif;
}
p.fonText.ft8 {
    font-family: 'Big Shoulders Text', cursive;
}


.footer {
    width: 100%;
    height: 30px;
    background-color: white;
    border-top: 3px solid #333;
    border-bottom: 3px solid #333;
    bottom: 0;
    position: fixed;
}

@media only screen and (max-width: 790px) {
    button#list {
        display: none;
    }
    ol.mainGrid.mgList {
        display: block !important;
    }
    li.tile {
        margin: 0 auto 5% auto;
    }
    input {
        width: 100px;
    }
    i.fa-sun, i.fa-moon {
        left: 8vw;
    }
    button.ldButtons {
        position: absolute;
        right: 50px;
    }
    .redo {
        margin: 0 auto;
        margin-right: -1.5px;
    }
    input.iTrigger, input.searchFonts {
        height: 31px;
    }
}


@media only screen and (max-width: 555px) {
    i.fa-sun, i.fa-moon {
        left: 3vw;
        right: 0;
        margin: 0 5px 0 -15px;
        padding: 8px 0 0 0;
        display: block;
    }
    .pxMenu {
        position: absolute;
        top: -28px;
        right: 50%;
        padding-left: 50%;
        height: 51px;
        line-height: 50px;
        border-bottom: 1px solid #333;
    }
    button.redo {
        position: absolute;
        top: 10px;
        right: 10%;
    }
    input.searchFonts {
        top: 111px;

    }
    input.iTrigger, input.searchFonts {
        left: 5.2%;
        position: absolute;
        margin: 0;
        height: 23.5px !important;
        width: 43%;
        margin-left: -10px;
        border-left: none !important; 
        padding: 0;
        margin-left: 2.3%;
    }
    input.searchFonts {
        border-top: solid black 1.5px;
        border-top-left-radius: 0;
        margin-top: -3px;
        padding-top: 0;
        border-bottom-left-radius: 200px;
        border-top: 2px solid white;
        border-right: 3px solid white;
        height: 23px !important;

    }
    input.searchFonts.dark {
        border-top: 2px solid black;
        border-right: 3px solid black;
    }
    input.iTrigger {
        border-top-left-radius: 150px;
        padding-bottom: 0;
        border-bottom: 2px solid white;
    }
    input.iTrigger.dark {
        border-bottom: 2px solid black;
    }
    div.pxMenuContainer {
        position: absolute;
        top: 111px;
        right: 20%;
        margin: 0;
    }
    div#pxOptContainer {
        top: 25px;
        left: -63px;
    }
    .manipContainer {
        height: 50px;
    }
}